<?xml version="1.0"?>
<model>
  <name>Standard VTOL with downward facing stereo camera</name>
  <version>1.0</version>
  <sdf version='1.5'>vtolcam.sdf</sdf>

  <author>
   <name>f</name>
   <email>eee@example.com</email>
  </author>

  <description>
    Standard VTOL with downward facing stereo camera
  </description>
</model>
